.listContainer {
    display: flex;
    flex-direction: column;
}

.cardsHeader {
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchBlockContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {

}

.filterMyAll {

}

.filterQuantity {

}