.listContainer {
    display: flex;
    flex-direction: column;
}

.packsHeader {
    font-weight: bold;
}

.pack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.searchBlockContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.headerRow {
    background-color: rgb(239, 239, 239);
}
.search {

}

.filterMyAll {

}

.filterQuantity {

}